{% extends "base.html" %}

{% block title %}{{ block.super }} - About{% endblock %}

{% block content %}
<div class="page-header">
  <h1>Impressum<small>und Informationen</small></h1>
</div>
<div class="row"</div>
<p>lauschige-plaetzchen.de wird zur Verfügung gestellt von:</p>
<div class="well">
<p>Philip Brechler</br>
Lychener Str. 1</br>
10437 Berlin</p>
<p>pbrechler@mac.com</br>
0171 9964455</p>
</div>
<p>Datenschutzerkl&auml;rung und Nutzungsbedingungen</p>
<div class="well">
<p>Zur Optimierung unsere Webseite sammeln und speichern wir Daten, zB. Datum und Uhrzeit des Seitenaufrufs, die Seite, von der Sie unsere Seite aufrufen und ähnliches, sofern Sie dieser Datenerhebung und -speicherung nicht widersprechen. Dies erfolgt anonymisiert, ohne den Benutzer der Seite persönlich zu identifizieren. Ggf. werden Nutzerprofile mittels eines Pseudonyms erstellt. Auch hierbei erfolgt keine Verbindung zwischen der hinter dem Pseudonym stehenden Person mit den erhobenen Nutzungsdaten. Zur Datenerhebung und Speicherung setzen wir auch cookies ein. Auch diese erheben Daten nur in anonymisierte oder pseudonomisierter Form.</p>
<p>Alle eingetragenen Orte und Bilder werden nur für den Zweck dieser Website genutzt und nicht weitergegeben, sollten sie ein Bild oder einen Ort hier gel&ouml;scht wissen, melden sie sich bitte beim Betreiber</p>
</div>
{% endblock %}